---
---
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
body {
	background: #ddd;
	font-family: Raleway, sans-serif;
	margin: 0;
	height: 100%;
}
#page {
	opacity: 0;
	transition:all 1s ease 0s;
	-webkit-transition:all 1s ease 0s;
	-moz-transition:all 1s ease 0s;
	-o-transition:all 1s ease 0s;
}
#page.displayed {
	opacity: 1;
}
.header {
	background: linear-gradient(lighten(#30505c, 15%), #30505c);
	width: 100%;
	position: absolute;
	top:0px;
	height: 70px;
	.width-limit {
		max-width: 900px;
		margin: 0 auto;
	}
	.fancy-name {
		width: 200px;
	}
}
.picture {
	background-image: url('../img/selfoss.jpg');
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	position: absolute;
	margin-top: -200px;
	z-index: -10;
}
.box {
	max-width: 1000px;
	width: 75%;
	min-height: 100%;
	background: #fff;
	border: 1px solid #bbb;
	margin: 0 auto;
	margin-top: 200px;
	.content {
		padding: 25px;
	}
}

.photo-header {
	padding: 20px 25px 20px 25px;
	background-color: #eee;
	z-index: 30;
	position: fixed;
	top: 0px;
	width: 100%;
	.home-name {
		color: #777;
		font-size: 2em;
	}
	.home-name:hover {
		color: #777;
	}
}

.footer {
	padding: 25px;
	background-color: #eee;
	margin: 0;
	#icon-row {
		width: 100%;
			a {
				color: #777;
				padding-right: 15px;
			}
			a:hover {
				color: #ff5f32;
			}
		}
	.picture-description {
		text-align: right;
		margin-top: -15px;
		font-size: 10px;
		color: #555;
	}
}

.photo-content {
	margin-bottom: 60px;
	padding: 10px;
	margin-top: 80px;
	.flex-images {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		a {
			width:250px;
			height:250px;
			margin: 10px;
			background-position: center;
			background-size: cover;
			-webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.15);
			-moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.15);
			box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.15);
			 -webkit-transition: all 0.25s ease-out;
  			-moz-transition: all 0.25s ease-out;
  			transition: all 0.25s ease-out;
			&:hover {
				border: 1px solid #aaa;
			}
		}
	}
}

.footer#photo_footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}


h1 {
	color: #777;
	font-weight: regular;
	font-size: 2.3em;
}
h2 {
	color: #45b29d;
}
p {
	color: #30505c;
}
a {
	color: #ff5f32;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.test-div {
	width:50px;
	height:50px;
	display: inline-block;
}

/************* Bears! ****************/
body.bears {
	background: #ecbb45;
	color: #fff;
	h1 {
		color: #fff;
	}
	h2 {
		color: #fff;
	}
	a {
		color: #fff;
	}
	a.button {
		padding: 15px 30px;
		border: 1px solid #fff;
		border-radius: 5px;
		color: #fff;
		&:hover {
			cursor: pointer;
		}
		&#reroll {
			float: right;
			margin-top: -45px;
		}
	}
	.dice {
		max-width: 100px;
		height: 100px;
		position: relative;
		&:hover {
			cursor: pointer;
		}
		img {
			position: absolute;
			&:not(.visible) {
				opacity: 0;
			}		
		}
	}

	#get-started:not(.active), #second-part:not(.active), #stat-table-section:not(.active) { 
		opacity: 0;
	}

	.squares-table {
		width: 100%;
	}
	.squares {
		width: 100%;
		td {
			font-family: Arial, sans-serif;
			border: 1px solid #fff;
			text-align: center;
			&.active {
				background: #fff;
				color: #ecbb45;
				font-weight: bold;
			}
		}
		&.bear td {
			border-bottom: 0px;
		}
		&.criminal td.active {
			border-top: 1px solid #ecbb45;
		}
	}
}