---
---
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
body {
	background: #eee;
	font-family: Raleway, sans-serif;
	margin: 0;
	height: 100%;
}
.header {
	background: linear-gradient(lighten(#30505c, 15%), #30505c);
	width: 100%;
	position: absolute;
	top:0px;
	height: 70px;
	.width-limit {
		max-width: 900px;
		margin: 0 auto;
	}
	.fancy-name {
		width: 200px;
	}
}
.picture {
	background-image: url('../img/grass.jpg');
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}
.box {
	max-width: 1000px;
	background: #fff;
	border: 1px solid #ddd;
	margin: 0 auto;
	.content {
		padding: 25px;
		#icon-row {
			a {
				color: #777;
				padding-right: 15px;
			}
			a:hover {
				color: #ff5f32;
			}
		}
	}
}
h1 {
	color: #777;
	font-weight: regular;
	font-size: 2.3em;
}
h2 {
	color: #45b29d;
}
p {
	color: #30505c;
}
a {
	color: #ff5f32;
	text-decoration: none;
}
.test-div {
	width:50px;
	height:50px;
	display: inline-block;
}
