<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{page.title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/styles.css">
		<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
		<script type="text/javascript" src="../main.js"></script>
	</head>
	<body id="page" class="bears">
		<div class="container">
			<div>
				<h1>Roll to get started</h1>
				<div class="dice">									
					<img class="visible" src="/img/d6-random.svg">
					<img src="/img/d6-one.svg">
					<img src="/img/d6-two.svg">
					<img src="/img/d6-three.svg">
					<img src="/img/d6-four.svg">
					<img src="/img/d6-five.svg">
					<img src="/img/d6-six.svg">
				</div>
				<h2>You are <span id="descriptor"></span> <span id="bear-type"></span><span id="second-part">, the <span id="role"></span> of the operation.</span></h2>
				<br><a class="button" id="reroll">Reroll</a>
			</div>
		</div>
	</body>
</html>
